# Supabase Configuration
# Get these values from your Supabase project dashboard
# Settings > API

NEXT_PUBLIC_SUPABASE_URL=https://jfeoetxefpaetrxvzjdk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmZW9ldHhlZnBhZXRyeHZ6amRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxMTI0OTcsImV4cCI6MjA4MDY4ODQ5N30.2g9t17gMzI2waXXxu6tJunxMlN9aldbKz_yU3GlzLRI

# Banco Inter PIX API
INTER_CLIENT_ID=4066969c-24b0-4372-bdbb-d833c46e4aa8
INTER_CLIENT_SECRET=07dcb4d8-7386-428b-b32e-4696496f9508
INTER_PIX_KEY=sua-chave-pix@email.com
